:root {
  --brown: #4a2628;
  --brown-hover: #643537;
  --brown-card-product: #4a2721;
  --btn-green: #349e00;
  --btn-ligth-green-border: rgba(52, 158, 0, 0.5);
  --btn-green-hover: #40bb03;
  --humble-black: #1d1e1c;
  --cart-black: #050505;
  --white: #fff;
  --grey: #667085;
  --ligth-grey: #f7f7f7;
  --nav-avatar-grey: #c0c3c6;
  --checkbox-grey: #d9d9d9;
  --checkbox-blue: #046468;
  --pagination-blue: #0b808f;
  --pagination-grey: #747474;
  --btn-red: #f22735;
  --btn-red-hover: #d0111e;
  --breadcrumbs-bg: #edf0f8;
  --breadcrumbs-txt: #a3a9c2;
  --product-sub-text: #b9bbbf;
  --product-cart-quantity: #f3f3f3;
  --product-cart-description-border: #eaecf0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--humble-black);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Utilities */

.cart-black-txt {
  color: var(--cart-black);
}
.cart-green-txt {
  color: var(--btn-green);
}
.cursor-pointer {
  cursor: pointer;
}
.fs-69 {
  font-size: 69px;
}

.fs-48 {
  font-size: 48px;
}
.fs-34 {
  font-size: 34px;
}
.fs-30 {
  font-size: 30px;
}
.fs-28 {
  font-size: 28px;
}
.fs-26 {
  font-size: 26px;
}
.fs-25 {
  font-size: 25px;
}
.fs-24 {
  font-size: 24px;
}
.fs-22 {
  font-size: 22px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.lh-90 {
  line-height: 90px;
}

.lh-57 {
  line-height: 57px;
}
.lh-46 {
  line-height: 46px;
}
.lh-33 {
  line-height: 33px;
}
.lh-25 {
  line-height: 25px;
}

.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}

.max-w-998 {
  max-width: 998px;
}
.max-w-853 {
  max-width: 853px;
}
.max-w-650 {
  max-width: 650px;
}
.max-w-566 {
  max-width: 566px;
}
.max-w-170 {
  max-width: 170px;
}
.max-w-full {
  max-width: 100%;
}
.mb-65 {
  margin-bottom: 65px;
}

.brown {
  color: var(--brown);
}
.btn-main {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 42px;
  border-width: 1px;
  border-style: solid;
}

.cart-btn-large {
  padding: 21px 43px;
  border-radius: 15px;
  display: inline-block;
}
.add-to-cart-btn-large-green {
  background: var(--btn-green);
  border-radius: 30px;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 40px;
  border: none;
  max-width: 326px;
  width: 100%;
  transition: background 0.2s linear;
}

.add-to-cart-btn-large-green:hover {
  background: var(--btn-green-hover);
  transition: background 0.2s linear;
}
.cart-btn-large-red {
  background: var(--btn-red);
  transition: all 0.2s linear;
}
.cart-btn-large-red:hover {
  background: var(--btn-red-hover);
  transition: all 0.2s linear;
}

.cart-btn {
  min-width: 172px;
  border-radius: 20px;
  padding: 10px 24px;
  border: none;
  color: var(--white);
  text-align: center;
}
.card-btn {
  border-radius: 10px;
  padding: 8px 12px;
}

.footer-btn {
  padding: 12px 24px;
  border-radius: 42px;
  border: 1px solid var(--humble-black);
  background: var(--white);
  transition: all 0.2s linear;
}

.footer-btn:hover {
  background: var(--humble-black);
  color: var(--white);
  border-color: var(--white);
}

.pagination-btn {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  color: var(--pagination-blue);
  border-radius: 50%;
  transition: all 0.2s linear;
}

.pagination-btn:hover,
.pagination-btn.active {
  background: var(--btn-green);
  color: var(--white);
  transition: all 0.2s linear;
}

.btn-green {
  background: var(--btn-green);
  transition: background 0.2s linear;
}
.btn-green:hover {
  background: var(--btn-green-hover);
  transition: background 0.2s linear;
}

.btn-white,
.btn-white a {
  background: var(--white);
  border-color: var(--brown);
  color: var(--brown);
  transition: all 0.2s linear;
}
.btn-white:hover,
.btn-white:hover a {
  background: var(--brown-hover);
  border-color: var(--brown-hover);
  color: var(--white);
  transition: all 0.2s linear;
}

.btn-dark,
.btn-dark a {
  background: var(--brown);
  border-color: var(--brown);
  color: var(--white);
  transition: all 0.2s linear;
}

.btn-dark:hover,
.btn-dark:hover a {
  background: var(--brown-hover);
  border-color: var(--brown-hover);
  color: var(--white);
  transition: all 0.2s linear;
}
/* Header */

/* --------- Navigation -----------*/

/* Logo */
.navbar-brand {
  max-width: 182px;
}

/* Nav */
#navigation .nav-link,
.mobile-menu .nav-link {
  color: var(--humble-black);
  transition: all 0.2s linear;
}
#navigation .nav-link:hover,
.mobile-menu .nav-link:hover {
  color: var(--grey);
  transition: all 0.2s linear;
}

#navigation .nav-link.active,
.mobile-menu .nav-link.active {
  font-weight: 600;
  color: var(--brown);
}

#navigation .menu-cart {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: var(--brown);
  transition: background 0.2s linear;
}

#navigation .menu-cart:hover {
  background: var(--brown-hover);
  transition: background 0.2s linear;
}

#navigation .menu-cart .menu-cart-ico {
  position: absolute;
  top: 50%;
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
}

#navigation .menu-cart .cart-items {
  color: var(--white);
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background: var(--brown);
  width: 10px;
  height: 10px;
  top: 10px;
  right: 8px;
  border: 1px solid var(--white);
}

/* Mobile nav */
.hamburger-menu-wraper {
  width: 30px;
  cursor: pointer;
}

.hamburger-menu {
  border: none;
  background: var(--brown);
  width: 30px;
  height: 2px;
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
  left: 0px;
  background: var(--brown);
  transition: all 0.2s linear;
}
.hamburger-menu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -7px;
  left: 0px;
  background: var(--brown);
  transition: all 0.2s linear;
}
.offcanvas-end {
  width: 200px;
}
.mobile-menu .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Hero section */

#hero {
  padding: 40px 0 60px 0;
}

/* Hero slider */

#hero .swiper .swiper-slide img {
  border-radius: 48px;
}
#hero .swiper .swiper-pagination {
  margin-top: 50px;
  position: relative;
}
#hero .swiper .swiper-button-prev:after,
#hero .swiper .swiper-button-next:after {
  display: none;
}

#hero .swiper .swiper-button-prev,
#hero .swiper .swiper-button-next {
  position: absolute;
  top: calc(50% + 37px);
  transform: translateY(-50%);
}

#hero .swiper .swiper-button-prev {
  left: calc(50% - 100px);
}
#hero .swiper .swiper-button-next {
  right: calc(50% - 100px);
}
#hero .swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: var(--brown); /* Default bullet color */
  border-radius: 50%;
  transition: width 0.3s ease;
  border-radius: 20px;
  opacity: 1;
}
#hero .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 32px;
  height: 14px;
  background: var(--brown);
  border-radius: 20px;
}
/* Cart modal */
#cartModal .modal-dialog {
  max-width: 635px;
  margin-right: 70px;
  margin-top: 32px;
}
#cartModal .modal-content {
  border-radius: 60px;
  padding: 46px 40px;
}
#cartModal .modal-btn {
  width: 28px;
  height: 28px;
  background: transparent url("./icons/modal_close_icon.svg") no-repeat;
  border: none;
  transition: opacity 0.2s linear;
}
#cartModal .modal-btn:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}
#cartModal .modal-header {
  border: none;
  padding: 0;
  margin-bottom: 24px;
}
#cartModal .modal-body {
  padding: 0;
}
#cartModal .product-item {
  padding: 13px;
  border-top: 2px solid var(--btn-ligth-green-border);
}
#cartModal .product-img {
  max-width: 137px;
}
#cartModal .info-icon img,
#cartModal .trash-icon img {
  max-width: 28px;
}

#cartModal .info-icon,
#cartModal .trash-icon {
  max-height: 34px;
  transition: opacity 0.2s linear;
}
#cartModal .info-icon:hover,
#cartModal .trash-icon:hover {
  opacity: 0.6;
  transition: opacity 0.2s linear;
}
#cartModal .modal-footer {
  border-top: 2px solid var(--btn-ligth-green-border);

  padding: 0;
}
#cartModal .modal-footer .total-price {
  max-width: 450px;
  width: 100%;
  padding: 24px 0;
}
#cartModal .btn-actions-wraper {
  border-top: 2px solid var(--btn-ligth-green-border);
  padding-top: 40px;
}
#cartModal .btn-actions-wraper a,
#cartModal .btn-actions-wraper a:active,
#cartModal .btn-actions-wraper a:focus,
#cartModal .btn-actions-wraper a:visited {
  color: var(--white);
}

/* Produktai section */
#produktai {
  padding: 40px 0;
}

.cards-wraper .card {
  border: none;
}
.cards-wraper .card .card-body a {
  color: var(--white);
}

.cards-wraper .card .card-body > div {
  width: 164px;
}
.cards-wraper .card img {
  border-radius: 45px;
}
.cards-wraper .card-body {
  padding: 24px 0;
}

/* Footer */

footer .footer-container {
  border-radius: 48px;
  background: var(--humble-black);
}

footer p,
footer a {
  color: var(--white) !important;
  transition: all 0.2s linear;
}
footer .links-wraper a:hover {
  opacity: 0.8;
  transition: all 0.2s linear;
}

footer .footer-container .logo-newsletter-wraper,
footer .footer-container .links-wraper {
  flex: 1;
}

footer .newsletter-wraper input {
  padding: 12px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--white);
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s linear;
}

footer .newsletter-wraper input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
footer .newsletter-wraper input:focus-visible,
footer .newsletter-wraper input:focus {
  outline: none !important;
  box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.2);
  transition: all 0.2s linear;
}
footer .footer-bottom {
  padding: 32px 0 26px 0;
}
footer .footer-bottom p,
footer .footer-bottom a {
  color: var(--humble-black) !important;
  transition: all 0.2s linear;
}
footer .footer-bottom a:hover {
  opacity: 0.8;
  transition: all 0.2s linear;
}

/* Cart page */

/* Logged in user */
#navigation .logged-in-user-wraper .user-avatar {
  width: 48px;
  overflow: hidden;
  height: 48px;
  border-radius: 50%;
}

#navigation .logged-in-user-wraper .user-avatar img {
  object-fit: cover;
}

#navigation .logged-in-user-wraper .greeting-msg {
  color: var(--nav-avatar-grey);
}

/* Cart hero */

#cart-hero {
  height: 200px;
}

#cart-hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--humble-black);
  opacity: 0.5;
  z-index: 2;
}

#cart-hero .cart-hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cart products */
.table-heading {
  background: var(--brown-card-product);
  border-radius: 15px;
}
.table-heading,
.product-item {
  display: grid;
  grid-template-columns:
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(200px, 3fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr);
}

.product-item {
  border-bottom: solid 2px var(--brown-card-product);
}

.product-info {
  max-width: 100%;
}

.product-info.image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* Product check box */
.checkbox-ligth,
.checkbox-dark {
  display: none;
}

.checkbox-ligth-label,
.checkbox-dark-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--checkbox-grey);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}
.checkbox-dark-label {
  border: 2px solid var(--brown);
}

.checkbox-ligth-label::after,
.checkbox-dark-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid transparent;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0; /* Hide the checkmark initially */
}

.checkbox-ligth:checked + .checkbox-ligth-label,
.checkbox-dark:checked + .checkbox-dark-label {
  background-color: var(--btn-green);
}

.checkbox-dark:checked + .checkbox-dark-label {
  box-shadow: 0 0 0px 2px #e4f9fc;
  border: 2px solid var(--checkbox-blue);
}

.checkbox-ligth:checked + .checkbox-ligth-label::after,
.checkbox-dark:checked + .checkbox-dark-label::after {
  border-color: white;
  opacity: 1;
}

.product-info .decrease-button,
.product-info .increase-button {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 34px;
}
.product-info .quantity-number {
  border: none;
  max-width: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
.product-info.delete img {
  max-width: 18px;
}

#cart-products {
  margin-top: 50px;
  margin-bottom: 150px;
}

#cart-products .options-wraper p,
#cart-products .prekiu-kiekis {
  color: var(--pagination-grey);
}
.eilutes {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: var(--pagination-blue);
  cursor: pointer;
  position: relative;
  width: 100%;
  font-weight: 600;
}

/* Custom arrow using a pseudo-element */
.options::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
  top: calc(50% - 3px);
  right: 5px;
  transform: translateY(-50%) rotate(45deg);
  z-index: 100;
}

/* Bendra suma section */

.bendra-suma {
  background: var(--humble-black);
  border-radius: 45px;
  padding: 54px 96px;
  margin-bottom: 70px;
}
.bendra-suma .bendra-suma-wraper {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

/* Product page */

#product-gallery-details .product-details-wraper {
  padding: 60px 0;
}

#product-gallery-details .product-gallery {
  width: 50%;
}

#product-gallery-details .product-gallery .main-media {
  height: 400px;
}
#product-gallery-details .product-gallery .main-media img {
  max-height: 400px;
}
#mainVideo {
  border-radius: 20px;
}

#product-gallery-details .product-details {
  width: 50%;
}
#product-gallery-details .swiper-test {
  overflow: hidden;
}

#product-gallery-details .slide {
  max-width: 115px;
}
#product-gallery-details .swiper-slide img {
  max-width: 115px;
  object-fit: cover;
}

#product-gallery-details .swiper-slide {
  cursor: pointer;
  padding: 10px;
  border: 2px solid transparent;
  transition: all 0.2s linear;
  border-radius: 14px;
}

#product-gallery-details .swiper-slide:hover {
  box-sizing: border-box;
  border-radius: 14px;
  border: 2px solid var(--humble-black);
  transition: all 0.2s linear;
}

#product-gallery-details .breadcrumb {
  background: var(--breadcrumbs-bg);
  display: inline-flex;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--breadcrumbs-txt);
}
#product-gallery-details .breadcrumb a,
#product-gallery-details .breadcrumb li {
  color: var(--breadcrumbs-txt);
}

#product-gallery-details .product-title {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 10px;
}
#product-gallery-details .product-title p {
  color: var(--product-sub-text);
}

#product-gallery-details .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

#product-gallery-details .product-price-sale-wraper {
  padding: 40px 0 24px 0;
  border-bottom: 1px solid var(--brown);
}
#product-gallery-details
  .product-price-sale-wraper
  p.text-decoration-line-through {
  opacity: 0.5;
}
#product-gallery-details .product-color {
  padding: 20px 0;
  border-bottom: 1px solid var(--brown);
}
#product-gallery-details .product-color p {
  color: var(--product-sub-text);
}

#product-gallery-details .custom-radio input[type="radio"] {
  display: none;
}

#product-gallery-details .custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 5px 0;
}

#product-gallery-details .custom-radio .checkmark {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}
#product-gallery-details .custom-radio .checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

#product-gallery-details
  .custom-radio
  input[type="radio"]:checked
  + .checkmark::before {
  opacity: 1;
  transition: opacity 0.2s linear;
}

#product-gallery-details
  .custom-radio
  input[type="radio"]:checked
  + .checkmark {
  border: 2px solid var(--white);
  box-shadow: 0 0 0px 2px var(--brown);
  transition: all 0.2s linear;
}

#product-gallery-details .custom-radio .checkmark.color-1 {
  background: url("./img/color_1.jpeg");
  transition: all 0.2s linear;
}

#product-gallery-details .custom-radio .checkmark.color-2 {
  background: url("./img/color_2.jpeg");
  transition: all 0.2s linear;
}
#product-gallery-details .custom-radio .checkmark.color-3 {
  background: url("./img/color_3.jpeg");
  transition: all 0.2s linear;
}
#product-gallery-details .custom-radio .checkmark.color-4 {
  background: url("./img/color_4.png");
  transition: all 0.2s linear;
}
#product-gallery-details .custom-radio .checkmark.color-5 {
  background: url("./img/color_5.png");
  transition: all 0.2s linear;
}

#product-gallery-details .product-options {
  padding: 20px 0;
  border-bottom: 1px solid var(--brown);
}
#product-gallery-details .product-options label {
  color: var(--product-sub-text);
}
#product-gallery-details .product-options .form-control:focus {
  border-color: var(--breadcrumbs-bg);
  box-shadow: 0 0 0 0.25rem var(--breadcrumbs-bg);
}
#product-gallery-details .product-add-to-cart {
  padding: 30px 0;
}
#product-gallery-details .quantity-wraper {
  padding: 16px 18px;
  border-radius: 30px;
  background: var(--product-cart-quantity);
  max-width: 178px;
  width: 100%;
}
#product-gallery-details .quantity-wraper button {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 700;
}
#product-gallery-details .quantity-wraper input {
  border: none;
  text-align: center;
  max-width: 60px;
  background: transparent;
  font-size: 22px;
  font-weight: 700;
  margin: 0 5px 0 15px;
}
#product-gallery-details .description-wraper {
  position: relative;
  color: var(--brown);
  border-bottom: 4px solid var(--product-cart-description-border);
  padding-bottom: 10px;
}
#product-gallery-details .description-wraper:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 4px;
  width: 130px;
  background: var(--brown);
}
#product-gallery-details .description-wraper h3 {
  color: var(--brown);
}
/* Media queries */

@media (max-width: 1200px) {
  #hero .fs-69 {
    font-size: 50px;
  }
  #hero .lh-90 {
    line-height: 60px;
  }
  #hero .fs-26 {
    font-size: 20px;
  }
  #hero .lh-46 {
    line-height: 36px;
  }
}

@media (max-width: 992px) {
  #hero .fs-69 {
    font-size: 32px;
  }
  #hero .lh-90 {
    line-height: 42px;
  }
  .bendra-suma-btn-wraper .cart-btn-large {
    padding: 18px 24px;
    font-size: 16px;
  }
  #product-gallery-details .slide {
    max-width: 95px;
  }
  #product-gallery-details .swiper-slide img {
    max-width: 95px;
    object-fit: cover;
  }
}
@media (min-width: 840px) {
  .mobile-price,
  .mobile-quantity,
  .mobile-total {
    display: none;
  }
  .product-item .product-info.price,
  .product-item .product-info.total {
    justify-content: center !important;
  }
}

@media (max-width: 840px) {
  .table-heading,
  .product-checkbox-wraper.d-flex.justify-content-center.align-items-center {
    display: none !important;
  }

  .product-item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    padding: 20px 0 20px 0;
  }
  .product-info.image img {
    max-height: 300px;
  }
  .product-item .product-info.image {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  .product-item .product-info.name {
    grid-column: span 2;
    justify-content: start !important;
    margin-bottom: 10px;
  }
  .product-item .mobile-price,
  .product-item .mobile-total {
    margin-bottom: 6px !important;
  }

  .product-item .mobile-total {
    margin-top: 10px;
  }
  .product-item .product-info.price,
  .product-item .product-info.total {
    align-items: start !important;
  }

  .product-item .product-info.price,
  .product-item .product-info.quantity {
    border-bottom: 1px solid var(--checkbox-grey);
  }

  .product-item .product-info.quantity {
    align-items: end !important;
  }
  .product-item .product-info.delete {
    justify-content: end !important;
  }
}

@media (max-width: 768px) {
  #hero {
    padding-bottom: 20px;
  }
  #hero .fs-69 {
    font-size: 40px;
  }
  #hero .lh-90 {
    line-height: 52px;
  }
  #hero .mb-65 {
    margin-bottom: 40px;
  }

  .fs-48 {
    font-size: 34px;
  }
  .fs-22 {
    font-size: 18px;
  }
  .lh-57 {
    line-height: 44px;
  }

  #hero .max-w-566 {
    max-width: 100% !important;
  }
  #cartModal .modal-dialog {
    margin-right: auto;
  }
  .bendra-suma {
    padding: 54px 44px;
  }
  .bendra-suma-wraper .fs-30 {
    font-size: 24px;
  }
  .bendra-suma-btn-wraper .cart-btn-large {
    padding: 12px 16px;
    font-size: 14px;
  }
  #product-gallery-details .product-gallery,
  #product-gallery-details .product-details {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .fs-48 {
    font-size: 24px;
  }
  .fs-22 {
    font-size: 16px;
  }
  .lh-57 {
    line-height: 30px;
  }
  #hero .swiper .swiper-button-prev,
  #hero .swiper .swiper-button-next {
    top: calc(50% + 39px);
  }
  #hero .swiper .swiper-button-prev img,
  #hero .swiper .swiper-button-next img {
    width: 15px;
  }
  #hero .swiper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
  #hero .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 10px;
    width: 24px;
  }

  #produktai {
    padding: 20px 0 0 0;
  }
  footer .container-xxl {
    padding: 0;
  }
  footer .footer-container {
    border-radius: 0;
  }
  footer .footer-bottom {
    padding: 16px 12px;
  }
  footer .footer-bottom {
    text-align: center;
  }
  footer .footer-bottom ul {
    flex-direction: column;
    gap: 8px !important;
  }
  #cartModal .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  #cartModal .modal-content {
    border-radius: 0;
  }
  .container-xxl.products {
    padding: 0;
  }
  .product-item {
    padding: 10px 12px;
  }
  .product-item .fs-18 {
    font-size: 14px !important;
  }
  .product-info .quantity-number {
    font-size: 18px;
  }
  .product-info .decrease-button,
  .product-info .increase-button {
    font-size: 22px;
  }
  #bendra-suma .container-xxl {
    padding: 0;
  }
  .bendra-suma {
    padding: 44px 34px;
    border-radius: 0;
    margin-bottom: 44px;
  }
}
@media (max-width: 500px) {
  #hero .fs-69 {
    font-size: 32px;
  }
  #hero .lh-90 {
    line-height: 38px;
  }
  #hero .fs-26 {
    font-size: 16px;
  }
  #hero .lh-46 {
    line-height: 24px;
  }
  .offcanvas-end {
    width: 100%;
  }
  #hero .slider-wraper {
    padding: 0;
  }
  #hero .swiper .swiper-slide img {
    border-radius: 0;
  }
  .cards-wraper .col {
    padding: 0;
  }
  .cards-wraper .card img {
    border-radius: 0;
  }
  .cards-wraper .card-body {
    padding: 24px 12px;
    background: var(--ligth-grey);
    border-radius: 0;
    border-bottom: 1px solid var(--grey);
  }
  #cartModal .fs-25 {
    font-size: 20px;
  }
  #cartModal .fs-20 {
    font-size: 16px;
  }
  #cartModal .info-icon img,
  #cartModal .trash-icon img {
    max-width: 24px;
  }
  #cartModal .modal-content {
    padding: 30px 20px;
  }
  #cartModal .product-item {
    flex-direction: column;
  }
  #cartModal .btn-actions-wraper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .bendra-suma-wraper .fs-30 {
    font-size: 18px;
  }
  .bendra-suma-btn-wraper .cart-btn-large {
    padding: 12px 16px;
    font-size: 14px;
  }
  #cart-products {
    margin-bottom: 100px;
  }
  #product-gallery-details .product-gallery .main-media {
    height: 100%;
    max-height: 300px;
  }
}

@media (max-width: 375px) {
  #navigation .btn-main {
    padding: 8px 12px;
  }
  #navigation .user-details .fs-14 {
    font-size: 10px;
  }
  #navigation .user-details .fs-6 {
    font-size: 12px;
  }
}

#mainVideo {
  cursor: pointer;
}

/* Product page */
